* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header .main-contactanos {
    background: rgb(86, 7, 12);
    text-align: left;
    font-family: "Lobster";
    color: red;
}

.main-contactanos .formulario {
    width: 100%;
    margin: auto;
}